    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Connect with me using the power of the Internets.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-xs-4 text-center">
            <p>
              <a class="icon-anim" href="https://www.linkedin.com/in/chrisgurney/" target="_blank" rel="noopener"><i class="fa fa-linkedin fa-3x mb-3 sr-contact"></i><br/>LinkedIn</a>
            </p>
          </div>
          <div class="col-4 col-xs-4 text-center">
            <p>
              <a class="icon-anim" href="https://github.com/chrisgurney" target="_blank" rel="noopener"><i class="fa fa-github fa-3x mb-3 sr-contact"></i><br/>GitHub</a>
            </p>
          </div>
          <div class="col-4 col-xs-4 text-center">
            <p>
              <a class="icon-anim" href="mailto:chris@chrisgurney.ca"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i><br/>Email</a>
            </p>
          </div>
        </div>
      </div>
    </section>