    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Get in touch!</h2>
            <p class="my-4"><a href="mailto:chris@chrisgurney.ca"><span class="underline-anim" style="display: inline-block;">chris@chrisgurney.ca</span></a></p>
          </div>          
        </div>
        <div class="row pt-5">
          <div class="col d-md-block d-none"></div>
          <div class="col-md-2 col-4 text-center">
            <a href="https://www.linkedin.com/in/chrisgurney/" target="_blank" rel="noopener">
              <span class="underline-anim" style="display: inline-block;">
                <i class="fa fa-linkedin fa-3x mb-3 sr-contact"></i><br/>LinkedIn
              </span>
            </a>
          </div>
          <div class="col-md-2 col-4 text-center">
            <a href="https://dribbble.com/chrisgurney" target="_blank" rel="noopener">
              <span class="underline-anim" style="display: inline-block;">
                <i class="fa fa-dribbble fa-3x mb-3 sr-contact"></i><br/>Dribbble
              </span>
            </a>
           </div>          
          <div class="col-md-2 col-4 text-center">
            <a href="https://github.com/chrisgurney" target="_blank" rel="noopener">
              <span class="underline-anim" style="display: inline-block;">
                <i class="fa fa-github fa-3x mb-3 sr-contact"></i><br/>GitHub
              </span>
            </a>
           </div>
          <div class="col d-md-block d-none"></div>
        </div>
      </div>
    </section>