    <section class="pt-0 pb-5 text-white" id="logos">
      <div class="container py-5">
        <div class="row">
          <div class="col text-center">
            <div class="mt-5 mx-auto align-middle">
              I've Worked At
            </div>
          </div>          
        </div>        
        <div class="row">         
          <div class="logo-box col-lg col-md col-6 text-center">
            <div class="mt-5 mx-auto sr-button">
              <img class="img-fluid" src="images/logos/achievers.png" alt="Achievers logo">
              <!--<p class="roles">Product Manager<br/>Program Launch Manager</p>-->
            </div>
          </div>
          <div class="logo-box col-lg col-md col-6 text-center">
            <div class="mt-5 mx-auto sr-button">
              <img class="img-fluid" src="images/logos/spiria.png" alt="Spiria logo">
              <!--<p class="roles">Product Manager</p>-->
            </div>
          </div>
          <div class="logo-box col-lg col-md col-6 text-center">
            <div class="mt-5 mx-auto sr-button">
              <img class="img-fluid" src="images/logos/blueprint.png" alt="Blueprint logo">
              <!--<p class="roles">Technical Marketing Manager<br/>Trainer &amp; Mentor<br/>Sales Engineer</p>-->
            </div>
          </div>
          <div class="w-100 d-none d-md-block"></div>
          <div class="logo-box col-lg col-md col-6 text-center">
            <div class="mt-5 mx-auto sr-button">
              <img class="img-fluid" src="images/logos/opentext.png" alt="OpenText logo">
              <!--<p class="roles">Product Manager<br/>Sales Engineer</p>-->
            </div>
          </div>
          <div class="logo-box col-lg col-md col-6 text-center">
            <div class="mt-5 mx-auto sr-button">
              <img class="img-fluid" src="images/logos/macadamian.png" alt="Macadamian logo">
              <!--<p class="roles">Software&#160;Developer<br/>Consultant</p>-->
            </div>
          </div>
          <div class="logo-box col-lg col-md col-6 text-center">
            <div class="mt-5 mx-auto sr-button">
              <img class="img-fluid" src="images/logos/corel.png" alt="Corel logo">
              <!--<p class="roles">Software Developer<br/>Quality Assurance</p>-->
            </div>
          </div>                                         
        </div>        
      </div>
    </section>