    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-md-3 col-sm-6 col-12">
            <a class="portfolio-box" href="fuzzies.html">
              <img class="img-fluid" src="images/portfolio/thumbnails/1.jpg" alt="Fuzzies logo and app screenshot.">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Case Study
                  </div>
                  <div class="project-name">
                    Concept for a gratitude journal app. &rarr;
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <a class="portfolio-box" href="switch-connect.html">
              <img class="img-fluid" src="images/portfolio/thumbnails/2.jpg" alt="Switch Connect logo and app screenshot.">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Case Study
                  </div>
                  <div class="project-name">
                    Concept for a community for Nintendo Switch&trade; owners. &rarr;
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <a class="portfolio-box" href="layer2.html">
              <img class="img-fluid" src="images/portfolio/thumbnails/3.jpg" alt="Layer 2 logo and branding screenshot.">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Case Study
                  </div>
                  <div class="project-name">
                    Branding concept for an urban outdoor clothing company. &rarr;
                  </div>
                </div>
              </div>
            </a>
          </div>          
          <div class="col-md-3 col-sm-6 col-12">
            <a class="portfolio-box" href="https://github.com/chrisgurney/profile-collage" target="_blank" rel="noopener">
              <img class="img-fluid" src="images/portfolio/thumbnails/5.jpg" alt="Screenshot of Profile Collage prototype.">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Prototype
                  </div>
                  <div class="project-name">
                    Employee profile carousel. <i class="fa fa-external-link"></i>
                  </div>
                </div>
              </div>              
            </a>
          </div>          
        </div>
        <div class="row no-gutters"> 
<!--                    
          <div class="col-md-4 col-sm-6 col-12">
            <a class="popup-youtube portfolio-box" href="https://www.youtube.com/watch?v=6k5Sk86J_Eg">
              <img class="img-fluid" src="images/portfolio/thumbnails/4.jpg" alt="Screenshot of commercial I was in for Achievers.">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Commercial
                  </div>
                  <div class="project-name">
                    Featured in "Six Solutions" commercial series for Achievers. <i class="fa fa-external-link"></i>
                  </div>
                </div>
              </div>              
            </a>
          </div>                   
        </div> -->

      </div>
    </section>