    <section class="p-0" id="work">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
<!--           <div class="col-md-3 col-sm-6 col-12" style="background-image: url('images/portfolio/thumbnails/1.jpg'); background-size: 100% auto;"> -->
          <div class="col-lg-4 col-sm-6 col-12" style="background-image: url('images/portfolio/thumbnails/neighbor.jpg'); background-size: 100% auto;">         
            <a class="portfolio-box" href="neighbor-brand.html">
              <img class="img-fluid" src="images/portfolio/thumbnails/neighbor.jpg" alt="Neighbor: Consumer-First Billing">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Brand + UX/UI Design
                  </div>
                  <div class="project-name">
                    Designing a brand and UX for a billing application.&nbsp;&rarr;
                  </div>
                </div>
              </div>
            </a>
          </div>  
          <div class="col-lg-4 col-sm-6 col-12" style="background-image: url('images/portfolio/thumbnails/1.jpg'); background-size: 100% auto;">         
            <a class="portfolio-box" href="fuzzies.html">
              <img class="img-fluid" src="images/portfolio/thumbnails/1.jpg" alt="Fuzzies logo and app screenshot.">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Case Study
                  </div>
                  <div class="project-name">
                    Concept for a gratitude journal&nbsp;app.&nbsp;&rarr;
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <a class="portfolio-box" href="switch-connect.html">
              <img class="img-fluid" src="images/portfolio/thumbnails/2.jpg" alt="Switch Connect logo and app screenshot.">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Prototype
                  </div>
                  <div class="project-name">
                    Concept for a community for Nintendo Switch&trade; owners. &rarr;
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <a class="portfolio-box" href="layer2.html">
              <img class="img-fluid" src="images/portfolio/thumbnails/3.jpg" alt="Layer 2 logo and branding screenshot.">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Brand Concept
                  </div>
                  <div class="project-name">
                    Branding concept for an urban outdoor clothing company. &rarr;
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <a class="portfolio-box" href="https://github.com/chrisgurney/profile-collage" target="_blank" rel="noopener">
              <img class="img-fluid" src="images/portfolio/thumbnails/5.jpg" alt="Screenshot of Profile Collage prototype.">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Prototype
                  </div>
                  <div class="project-name">
                    Employee profile carousel. <i class="fa fa-external-link"></i>
                  </div>
                </div>
              </div>              
            </a>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <a class="portfolio-box" href="dailyui.html">
              <img class="img-fluid" src="images/portfolio/thumbnails/dailyui-001.jpg" alt="Screenshot of Profile Collage prototype.">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Daily UI
                  </div>
                  <div class="project-name">
                    Sign Up form. &rarr;</i>
                  </div>
                </div>
              </div>              
            </a>
          </div>
        </div>
      </div>
    </section>