    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Product Designer Plus&#160;Plus</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Product Manager</h3>
              <p class="text-muted mb-0">Experience leading Agile feature teams and building MVPs from idea to execution.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-code text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Developer</h3>
              <p class="text-muted mb-0">With a Computer Science degree from the University of Waterloo, I’ve built prototypes and know how to <a href="https://github.com/chrisgurney" target="_blank" rel="noopener">talk in code</a>.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-bullhorn text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Technical Sales &amp; Marketer</h3>
              <p class="text-muted mb-0">Sold and marketed complex software in B2B and B2C environments, bridging the gap between technology and understanding.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <!--<i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>-->
              <img class="mb-3 sr-icons" src="images/chicken.svg" alt="chicken caricature"/>
              <h3 class="mb-3">Comedian &amp; Improviser</h3>
              <p class="text-muted mb-0">Ask me about improv, impersonating Sean Connery, chickens, and building a fun workplace culture.</p>
            </div>
          </div>
        </div>
      </div>
    </section>