    <section class="about-box p-0" id="about" style="@@style">
      <div class="container-fluid">

        <!-- Writing Start -->
        <div class="row pt-5">
          <div class="col-lg-3 col-sm-6 col-12 mb-5">
            <div class="card sr-card h-100">
              <a href="https://www.youtube.com/watch?v=6k5Sk86J_Eg&list=PL_7LDWLXJY87Rv0JX14ACo7luMWFWyO1K" target="_blank" rel="noopener">
                <img class="card-img-top" src="images/about/media-achievers.jpg" alt="Screencap of commercial I performed in."/>
              </a>
              <div class="card-body">
                <p class="card-text">
                  <small class="text-muted text-uppercase">
                    Commercial
                  </small>
                </p>                
                <h3 class="card-title">Achievers Six Solutions</h3>
                <p class="card-text">                  
                  Actor in a series of promos filmed (pre-beard) for Achievers' employee recognition solution.
                </p>
                <a class="underline-anim" href="https://www.youtube.com/watch?v=6k5Sk86J_Eg&list=PL_7LDWLXJY87Rv0JX14ACo7luMWFWyO1K" target="_blank" rel="noopener">Watch on YouTube <i class="fa fa-external-link"></i></a>
              </div>
            </div>             
          </div>
          <div class="col-lg-3 col-sm-6 col-12 mb-5">
            <div class="card sr-card h-100">
              <a href="https://www.batimes.com/articles/the-big-freakin-requirements-document-must-die.-here-s-why.html" target="_blank" rel="noopener">
                <img class="card-img-top" src="images/about/media-batimes.jpg" alt="Photo of a crocodile's eye, because Godzilla wasn't royalty-free."/>
              </a>                          
              <div class="card-body with-bottom-image">
                <p class="card-text">
                  <small class="text-muted text-uppercase">
                    Article
                  </small>
                </p>                
                <h3 class="card-title">The Big Freakin' Requirements Document Must Die. Here's Why.</h3>
                <p class="card-text">
                  Article I authored for Blueprint, achieving over 47K+ views on BA Times. Subsequently re-published on RQNG, and was mentioned by Forrester.
                </p>
                <a class="underline-anim" href="https://www.batimes.com/articles/the-big-freakin-requirements-document-must-die.-here-s-why.html" target="_blank" rel="noopener">Read on BA Times <i class="fa fa-external-link"></i></a>
              </div>
            </div>             
          </div>       
          <div class="col-lg-3 col-sm-6 col-12 mb-5">
            <div class="card sr-card h-100">
              <a href="images/portfolio/opentext-wp-best-practices-in-ecm-migration.pdf" target="_blank" rel="noopener">
                <img class="card-img-top" src="images/about/media-ecm.jpg" alt="Cover of ECM whitepaper I authored for OpenText."/>  
              </a>            
              <div class="card-body">                
                <p class="card-text">
                  <small class="text-muted text-uppercase">
                    Whitepaper
                  </small>
                </p>      
                <h3 class="card-title">Best Practices in ECM Migration</h3>
                <p class="card-text">
                  White paper I wrote for Xenos (acquired by OpenText) to provide lead generation for their electronic content management migration services.
                </p>
                <a class="underline-anim" href="images/portfolio/opentext-wp-best-practices-in-ecm-migration.pdf" target="_blank" rel="noopener">Read (PDF) &rarr;</i></a>                
              </div>
            </div>             
          </div>                        
          <div class="col-lg-3 col-sm-6 col-12 mb-5">
            <div class="card sr-card h-100">
              <a href="https://www.blogto.com/tech/2008/10/wordcamp_toronto_redux/" target="_blank" rel="noopener">
                <img class="card-img-top" src="images/about/media-blogto.jpg" alt="Photo of crowd at WordCamp Toronto 2008."/>     
              </a>         
              <div class="card-body with-bottom-image">
                <p class="card-text">
                  <small class="text-muted text-uppercase">
                    Article
                  </small>
                </p>                
                <h3 class="card-title">WordCamp Toronto Redux</h3>
                <p class="card-text">
                  Wrote a couple articles for blogTO including this recap of that year's WordCamp conference.
                </p>
                <a class="underline-anim" href="https://www.blogto.com/tech/2008/10/wordcamp_toronto_redux/" target="_blank" rel="noopener">Read on blogTO <i class="fa fa-external-link"></i></a>
              </div>
            </div>             
          </div>                   
        </div>
        <!-- Writing End -->

      </div>
    </section>